body {
	font-family: 'Roboto', sans-serif;
	background: #8e9eab;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100vh;
	background-attachment: fixed;
	margin-left: auto;
	margin-right: auto;
	/* width: 1200px; */
}

h1 {
	font-family: 'Lobster', cursive;
	text-align: center;
	color: #333;
	border-bottom: 35px;
	font-size: 45px;
}

h3 {
	margin-bottom: 4px;
}

p {
	margin-top: 8px;
	line-height: 25px;
}

li {
	list-style: none;
	margin-top: 10px;
}

a {
	margin-top: 15px;
}

a:link {
	color: #002859;
	text-decoration: none;
}

a:hover,
a:active {
	color: #0067C2
}

.container {
	width: 70%;	
	margin: 40px auto 30px auto;
}
.box {
	background-color: rgba(255, 255, 255, 0.4);
	box-shadow: 0 2px 3px rgba(000, 000, 000, 0.1);
	border-radius: 7px;
	padding: 20px;
}

.form-box {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

form input:first-child {
	height: 33px;
	border: none;
	font-size: 20px;
	font-weight: 300;
	border-radius: 7px;
	margin: 15px 15px 10px 0;
	padding-left: 5px;
	width: 350px;
}

.button {
	width: auto;
	padding: 8px 10px 10px 10px;
	height: 35px;
	background: rgba(000, 000, 000, 0.7);
	border: none;
	border-radius: 7px;
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	outline: none;
}

.button:hover,
.button:active{
	background: rgba(000, 000, 000, 0.75);	
	transition: background 0.5s ease;
}

.button:last-of-type {
	margin-bottom: 6px;
}

#submit {
	margin-right: 10px;
}

.result-box {
	background-color: rgba(255, 255, 255, 0.4);
	padding: 10px;
	border-radius: 7px;
	transition: background-color 0.5s ease;	
	margin: 25px 5px 25px 5px;
}

.result-box:hover,
.result-box:active {
	background-color: rgba(255, 255, 255, 0.6);	
	transition: background-color 0.5s ease;
}

#res {
	padding: 0;
}

#text-in {
	outline: none;
}

// MEDIA QUERIES
/* Big tablet to 1200px (widths smaller than 1140) */
@media only screen and (max-width: 1200px){

}



/* Small phones to small tablets  --  All the phones that are smaller than the iPad  From 481-767px */
@media only screen and (max-width: 924px){
	.form-box {
		flex-wrap: wrap;
	}
}

/* Small phones from 0 - 480 px */
@media only screen and (max-width: 600px){
	#text-in {
		width: 80%;
	}
	.div-box {
		width: 90%;
	}
}